Source: glasscoder
Section: unknown
Priority: optional
Maintainer: Alejandro Olivan Alvarez <alejandro.olivan.alvarez@gmail.com>
Build-Depends: debhelper (>= 11), autotools-dev
Standards-Version: 4.1.3
Homepage: https://github.com/ElvishArtisan/GlassCoder
Vcs-Browser:https://github.com/ElvishArtisan/GlassCoder
Vcs-Git: https://github.com/ElvishArtisan/GlassCoder

Package: glasscoder
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, openssl, python3-requests, libsamplerate0, libtag1v5, libfdk-aac2, lame, libmad0, libvorbis0a, libopus0, twolame, libsndfile1
Recommends: libasound2, jackd2
Suggests: asihpi-dkms-4, snd-asihpi-dkms-4
Description: GlassCoder is a minimalist audio encoder
 GlassCoder is a minimalist audio encoder for IceCast and Shoutcast streaming servers as well as HTTP Live Streaming (HLS)
